* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ff9d98;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: #ff9d98;
  margin: 0;
  padding-left: 2%;
  padding: 0;
}

.header {
  background-color: #98f9ff;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 10%;
}

.section {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  background-color: #98f9ff;
}

.photo {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
}

.horizontal-line {
  border: 0.5px solid #aea1a1;
  width: 300%;
  margin: 0 auto;
}

.nav-list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
}

.phrase {
  text-decoration: none;
  color: #ff0ff4;
  font-weight: bold;
  line-height: 10vh;
}

.hidden-ul {
  display: none;

  transition: all 0.5s ease-out 0.5s;
}

.close-icon {
  display: none;
}

.plus-icon {
  display: none;
  width: 25px;
  height: 25px;
}

nav ul li:hover > .hidden-ul {
  display: inherit;
  transition: all 0.5s ease-out 0.5s;
}
.nav-list:hover > .plus-icon {
  display: inline-flex;
  transition: all 0.5s ease-out 0.5s;
}
.nav ul li:hover > .close-icon {
  display: inline-flex;
  transition: all 0.5s ease-out 0.5s;
}
