* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: 400;
  color: #ff9d98;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  color: #ff9d98;
  margin: 0;
  padding-left: 35px;
}

.header {
  background-color: #98f9ff;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
}

.section {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  background-color: #98f9ff;
}

.photo {
  width: 500px;
  height: 500px;
}

.photo-claim {
  font-size: 25px;
  position: absolute;
  width: 100%;
  padding: 15px;
  color: white;
  color: transparent;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
}

.horizontal-line {
  border: 0.5px solid #aea1a1;
  width: 1500px;
  margin: 15px auto;
}

.nav-list {
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.claim-sign-div {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phrase {
  text-decoration: none;
  color: #ff0ff4;
  font-weight: 800;
  line-height: 100px;
}

.hidden-ul {
  display: none;
  position: relative;
  transition: all 0.5s ease-out 0.5s;
}

.close-icon {
  padding-left: 100px;
}

nav ul li:hover > ul {
  display: inherit;
  transition: all 0.5s ease-out 0.5s;
}

li:hover > a:after {
  content: "-";
}
